/* font */
@font-face {
  font-family: 'Spoqa Han Sans Neo Bold';
  font-weight: 700;
  src: local('Spoqa Han Sans Neo Bold'),
  url('../fonts/SpoqaHanSansNeo-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans Neo Medium';
  font-weight: 300;
  src: local('Spoqa Han Sans Neo Medium'),
  url('../fonts/SpoqaHanSansNeo-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans Neo Regular';
  font-weight: 400;
  src: local('Spoqa Han Sans Neo Regular'),
  url('../fonts/SpoqaHanSansNeo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans Neo Light';
  font-weight: 300;
  src: local('Spoqa Han Sans Neo Light'),
  url('../fonts/SpoqaHanSansNeo-Light.ttf') format('truetype');
}

$Bold : 'Spoqa Han Sans Neo Bold', 'sans-serif';
$Regular : 'Spoqa Han Sans Neo Regular', 'sans-serif';
$Light : 'Spoqa Han Sans Neo Light', 'sans-serif';
$Medium : 'Spoqa Han Sans Neo Medium', 'sans-serif';

/********/

* {
  padding : 0;
  margin : 0;
  font-size : 10px;
}

body {
  width : 100vw;
  height : 100vh;

  #root {
    width : 100vw;
    height : 100vh;
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;

    #test_sheet {
      box-sizing : border-box;
      min-width : 60vw;
      min-height : 80vh;
      max-width : 1232px;
      border : 5px solid #888;
      display : flex;
      flex-direction : column;
      justify-content : space-around;
      align-items : center;

      #word_screen {
        border : 2px solid #aaa;
        min-width : 80%;
        min-height : 50%;
        display : flex;
        align-items : center;
        justify-content : center;
  
        & > div {
          font-size : 20rem;
          font-family : &Bold;
        }

      }

      #answer {
        font-family : $Regular;
        font-size : 2.0rem;
        width : 80%;
        height : 15%;
        display : flex;
        justify-content : space-between;
        align-items : center;

        input {
          box-sizing : border-box;
          padding : 2vmin;
          width : 80%;
          height : 100%;
          font-size : 8.0rem;

          &:focus {
            outline : none;
          }
        }
        
        #btn_submit {
          box-sizing : border-box;
          width : 15%;
          height : 100%;
          background-color : #c3d5e6;
          cursor : pointer;
          border-radius : 1.5rem;
          display : flex;
          justify-content : center;
          align-items : center;
          font-family : $Bold;
          font-size : 3.0rem;
          letter-spacing : 1rem;
          color : white;
          transition : all 0.3s ease-out;
          box-shadow : 0.3rem 0.3rem 0.5rem #bbb;

          &:hover {
            background-color : #adbecc;
          }
        }
      }

      .result {

        width : 100%;
        display : flex;
        justify-content : center;
        flex-direction : column;
        align-items : center;

        .result_title {

          font-family : $Bold;
          font-size : 5.0rem;
          width : 80%;
          display : flex;
          justify-content : center;
          align-items : center;
          border : 2px solid #aaa;
          margin-bottom : 5vh;

          span {
            font-family : inherit;
            font-size : inherit;
          }

        }
        .result_content {
          
          display : flex;
          justify-content : space-between;
          align-items : center;
          width : 80%;

          & > div {

            width : 45%;
            height : 50vh;

            &:first-child {
              
              border : 2px dashed #aaa;
              box-sizing : border-box;

              table {    
                width : 100%;
                height : 100%;
                border-spacing : 0;

                th, td {
                  font-family : $Medium;
                  font-size : 3.0rem;
                  text-align : center;
                }
                thead {
                  height : 10%;
                }
                tbody {
                  height : calc(10% - 5vh);
                }
                tfoot {
                  height : 5vh;
                  background-color : #eee;
                  
                  td {
                    font-family : $Bold;
                    color : rgb(20, 42, 168);
                  }
                }
              }
            }

            &:last-child {

              .ranking {
                font-family : $Medium;
                font-size : 3.0rem;
                display : flex;
                justify-content : center;
                align-items : center;

                border : 2px dashed #aaa;
                height : 42vh;
                margin-bottom : 2.8vh;
              }

              .replay {
                font-family : $Bold;
                font-size : 3.0rem;
                display : flex;
                justify-content : center;
                align-items : center;
                height : 5vh;
                background-color : #c3d5e6;
                cursor : pointer;
                transition : all 0.3s ease-out;

                span {
                  font-family : inherit;
                  font-size : inherit;
                }

                &:hover {
                  font-size : 3.3rem;
                  background-color : #adbecc;
                  border-radius : 2vmax;
                }
              }
            }

          }

        }

      }

    }

    /* progress */
    #progress {
      min-width : 60vw;
      min-height : 50px;
      background-color : #ddd;
      margin-bottom : 60px;
      display : flex;
      align-items : center;
      border-radius : 1vmin;
      overflow : hidden;

      #current {
        width : 200px;
        height : 100%;
        background-color : #bbb;
        transition : all 0.5s ease-in-out;
        display : flex;
        align-items : center;
        justify-content : end;

        & span {
          position : relative;
          color : #555;
          font-size : 3.0rem;
          margin-right : 0.5vw;
          font-family : $Light;
        }

      }

    }

  }

  #modal {

    .popup {
      
      position : fixed;
      background-color : #eee;
      box-sizing : border-box;
      border : 2px solid #aaa;
      box-shadow : 0.5rem 0.5rem 1rem #ccc;
      min-width : calc(60vw * 0.9);
      height : 60vh;
      top : 20vh;
      left : calc((60vw * 0.05) + 20vw);
      display : flex;
      justify-content : center;
      align-items : center;

      .content {
        box-sizing : border-box;
        width : 100%;
        height : 100%;
        padding : 100px;
        display : flex;
        align-items : center;
        flex-direction : column;
        justify-content : space-around;

        div {
          font-size : 1.3vw;
          font-family : $Medium;
          text-align : center;
        
          bold {
            font-size : 1.8vw;
            font-family : $Bold;
            color : rgb(26, 53, 204);
          }

        }

        .btn_start {

          box-sizing : border-box;
          border : 1px solid black;
          width : 50%;
          height : 15%;
          display : flex;
          justify-content : center;
          align-items : center;
          cursor : pointer;
          transition : 0.3s all linear;

          span {
            font-size : 2vw;
            font-family : $Regular;
          }

          &:hover {
            background-color : #ddd;
            animation-name : tilt;
            animation-duration : 0.3s;
            animation-iteration-count : infinite;
            animation-direction : alternate;
          }

          @keyframes tilt {
            from {
              transform : rotateX(10deg);
            }
            to {
              transform : rotateX(10deg);
            }
          }

        }

      }

    }

    .popup.warmed_up {

      .btn_list {

        width : 100%;
        height : 15%;
        display : flex;
        justify-content :space-around;
        align-items : center;

        div {

          width : 40%;
          height : 80%;
          box-sizing : border-box;
          border : 1px solid black;
          cursor : pointer;
          display : flex;
          justify-content : center;
          align-items : center;
          transition : 0.3s all linear;

          span {
            font-size : 2vw;
            font-family : $Bold;
          }

          &:hover {
            background-color : #ddd;
            animation-name : tilt;
            animation-duration : 0.3s;
            animation-iteration-count : infinite;
            animation-direction : alternate;
          }

        }

      }

    }

  }

}



